<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Rules</h1>
<div class="main_content" style="max-width: 640px">
  <p>Основні правила гри:</p>
    <p>💜У кожного гравця є очки здоровʼя (20)</p>
    <p>🍖Кожен гравець обирає карти, щоб їх ціна найму була більшою ніж доступна</p>
    <p>⏳На хід дається 30 сек, проте свій хід можна підтвердити достроково кнопкою READY</p>
    <br>
    <p>🗡Принцип атаки карток:</p>
    <p>Всі карточки почергово атакують рандомні карти противника</p>
    <p>Якщо після атаки картка супротивника виживає, то атакуючій карточці наноситься урон від картки захисту</p>
    <p>Якщо карт для захисту немає, урон наноситься головному персонажу</p>
    <br>
  <div style="display: grid;">
    <input type="button" id="back" value="Back">
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('back').addEventListener("click", function (event) {
            window.location.href = '/profile';
        });
    });
</script>
</body>
</html>